<!--<h1>Welcome to Firestarter</h1>

<a href="https://slackin-pbfjhfxnsa.now.sh"><img src="https://slackin-pbfjhfxnsa.now.sh/badge.svg"></a><br>
<a href="https://circleci.com/gh/codediodeio/angular-firestarter"><img src="https://circleci.com/gh/codediodeio/angular-firestarter.svg?style=svg"></a>

<p>I am a Progressive Web App (PWA) built with Angular and Firebase.</p>

<h2>Have Questions?</h2>

<p>
    <i class="fa fa-slack fa-lg"></i> Let's talk on the <a target="blank" href="https://goo.gl/qF8Q5r">
  Angular Firebase Developers Slack Team
</a>
</p>

<h2>Free Open Source Screencasts</h2>

<p>
    <i class="fa fa-youtube fa-lg"></i> Subscribe to the <a href="https://www.youtube.com/channel/UCsBjURrPoezykLs9EqgamOA">AngularFirebase YouTube Channel</a> for weekly lessons.
</p>-->
<div class="form-group">
<table class="table table-bordered">
  <thead>
    <tr>
       <td>Patient ID</td>
       <td>Trial Name</td>
       <td>Upload</td>
       <td>Record</td>
       <td>Status</td>
       <td>Action</td>
    </tr>
  </thead>
  <tbody>
   <tr *ngFor="let item of items">
     <td>
       {{item.PatientId}}
     </td>
      <td>
       {{item.TrialName}}
     </td>
      <td>
       {{item.Upload}}
     </td>
      <td>
       {{item.Record}}
     </td>
      <td>
       {{item.Status}}
     </td>
      <td>
       {{item.Action}}
     </td>
   </tr>
  </tbody>
</table>
</div>
