<!--<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" routerLink="/">
            <img src="assets/images/angularfirebase.png" width="30px" alt="OctoCoders" />OctoCoders
        </a>

        <a id="navToggle" role="button" class="navbar-burger" (click)="toggleCollapse()" [ngClass]="{'is-active': show}">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" [ngClass]="{'is-active': show}">
        <div class="navbar-end">
            <a class="navbar-item" routerLink="/login" routerLinkActive="active" >
        Login
      </a>
        <a  class="navbar-item" routerLink="/home" routerLinkActive="active">
        Home
      </a>
       <a  class="navbar-item" routerLink="/search"  routerLinkActive="active">
        Search
      </a>

            <a  class="navbar-item" routerLink="/ssr" routerLinkActive="active">
        SSR Universal
      </a>
            <a  class="navbar-item" routerLink="/notes">
        Firestore
      </a>
            <a  class="navbar-item" routerLink="/uploads">
        File Uploads
      </a>
        </div>
    </div>
</nav>-->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">OctoCoders</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="toggleCollapse()" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{ 'show': show }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="search" routerLinkActive="active">Search</a>
      </li>
  <li class="nav-item" *ngIf="auth.user | async as user">
        <a class="nav-link" href="#" (click)="logout()">Logout</a>
      </li>

      
    </ul>
  </div>
</nav>
