<div>
  <div>
    <main-nav>
    </main-nav>
    <notification-message></notification-message>
    <main class="container-fluid">
      <router-outlet></router-outlet>
    </main>
  </div>


  <footer class="footer">

  </footer>
</div>
