<!--<form [formGroup]="userForm" *ngIf="newUser" (ngSubmit)="signup()">

    <h3>New User Signup</h3>
    <p class="button is-small" (click)="toggleForm()">Already Registered?</p>
    <hr>

    <label for="email">Email</label>
    <input type="email" class="input" formControlName="email" name="email" required autocomplete="new-password">

    <div *ngIf="formErrors.email" class="notification is-danger">
        {{ formErrors.email }}
    </div>

    <label for="password">Password</label>
    <input type="password" class="input" formControlName="password" name="password" required>

    <div *ngIf="formErrors.password" class="notification is-danger">
        {{ formErrors.password }}
    </div>

    <div *ngIf="userForm.valid" class="notification is-success">Form is valid</div>
    <button type="submit" class="button" [disabled]="!userForm.valid">Submit</button>

</form>-->


<form [formGroup]="userForm" *ngIf="!newUser" (ngSubmit)="login()">

    <!--<h3>Existing User Login</h3>
    <p class="btn button is-small" (click)="toggleForm()">New User?</p>
    <hr>-->
    <div class="form-group">
    <label class="col-sm-4 control-label ">Email</label>
    <div class="col-sm-4">
    <input type="email" class="form-control" formControlName="email" required autocomplete="new-password">
    
    <div *ngIf="formErrors.email" class="text-danger">
        {{ formErrors.email }}
    </div>
     </div>
   </div>
   <div class="form-group">
    <label for="password" class="col-sm-4 cols-sm-offset-4  control-label">Password</label>
    <div class="col-sm-4">
    <input type="password" class="form-control"  formControlName="password" required autocomplete="new-password">

    <div *ngIf="formErrors.password" class="text-danger">
        {{ formErrors.password }}
    </div>
    </div>
    </div>
    <button type="submit" class="button button-primary btn-sm" [disabled]="!userForm.valid">Submit</button>
 
    <!--<span *ngIf="userForm.valid" class="help is-success">Form Looks Valid</span>-->
    <a *ngIf="!passReset && userForm.controls.email.valid" class="help is-info" (click)="resetPassword()">Reset Password for {{userForm.value.email}}?</a>
    <p *ngIf="passReset" class="help is-info">Reset requested. Check your email instructions.</p>

</form>
