/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Palanquin|Source+Sans+Pro');
@import '~bootstrap/dist/css/bootstrap.css';
.active {
  display:block !important;
}
// Colors
// $white: #fff !default;
// $black: #000 !default;
// $red: #d9534f !default;
// $orange: #f0ad4e !default;
// $yellow: #ffd500 !default;
// $green: #5cb85c !default;
// $blue: #0275d8 !default;
// $teal: #5bc0de !default;
// $pink: #ff5b77 !default;
// $purple: #613d7c !default;
// // Grayscale
// $gray-dark: #222;
// $gray: #212121;
// $gray-light: #666;
// $gray-lighter: #bbb;
// $gray-lightest: #eee;
// ///// Content
// $body-font: 'Source Sans Pro',
// sans-serif;
// $heading-font: 'Palanquin',
// sans-serif;
// body {
//     font-family: $body-font;
//     // padding: 0 1vw;
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// {
//     font-family: $heading-font;
//     font-weight: 300 !important;
// }

// a {
//     color: #1c90f3;
//     font-weight: bold;
//     &:hover {
//         color: darken(#1c90f3, 10%)
//     }
// }

// #wrapper {
//     display: flex;
//     min-height: 100vh;
//     flex-direction: column;
// }

// .content {
//     // min-height: 70vh;
//     // padding: 2vw;
//     // flex: 1
// }

// .videoWrapper {
//     position: relative;
//     padding-bottom: 56.25%;
//     padding-top: 25px;
//     height: 0;
//     iframe {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//     }
// }

// .logo {
//     font-size: 1.2em;
//     font-weight: bold;
//     font-family: $heading-font;
//     color: #1D262F;
//     img {
//         margin-right: 5px;
//     }
// }

// .footer {
//     border-top: 2px solid $gray-lightest;
//     min-height: 100px;
//     text-align: center;
//     font-size: 0.9em;
//     background: #f9f9f9;
// }

// .text-truncate {
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
// }

// .box {
//     border-radius: 0px;
//     margin-top: 5px;
// }

// ///// Social Buttons
// .input {
//     margin-bottom: 5px;
// }

// .btn-social {
//     color: #fff;
//     i {
//         margin-right: 5px;
//     }
//     &:hover {
//         color: #fff;
//         box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.2), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.1);
//     }
//     .btn-block {
//         margin-bottom: 10px;
//     }
// }

// .btn-twitter {
//     background-color: #55ACEE;
// }

// .btn-facebook {
//     background-color: #3B5998;
// }

// .btn-github {
//     background-color: #333333;
// }

// .btn-google {
//     background-color: #DD4B39;
// }

// .btn-social.button[disabled] {
//     color: #333333;
//     background-color: #fff;
//     border-color: #dbdbdb;
//     box-shadow: none;
//     opacity: .6;
// }

// .loading {
//     opacity: 0;
//     position: fixed;
//     height: 100%;
//     width: 100%;
//     background: #272c33;
//     padding-top: 25vh;
//     text-align: center;
//     z-index: -1;
//     transition: opacity .8s ease-out;
// }

// app-root:empty+.loading {
//     opacity: 1;
//     z-index: 100;
//     h1 {
//         font-family: "courier", monospace;
//         color: #EEE;
//         margin-bottom: 50px;
//     }
// }

// .button {
//     margin-right: 5px;
// }

// .active {
// color:blue;
// font-weight:bolder;
// }



.notification {
  background-color: whitesmoke;
  border-radius: 4px;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  position: relative;
}

.notification a:not(.button):not(.dropdown-item) {
  color: currentColor;
  text-decoration: underline;
}

.notification strong {
  color: currentColor;
}

.notification code,
.notification pre {
  background: white;
}

.notification pre code {
  background: transparent;
}

.notification > .delete {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.notification .title,
.notification .subtitle,
.notification .content {
  color: currentColor;
}

.notification.is-white {
  background-color: white;
  color: #0a0a0a;
}

.notification.is-black {
  background-color: #0a0a0a;
  color: white;
}

.notification.is-light {
  background-color: whitesmoke;
  color: #363636;
}

.notification.is-dark {
  background-color: #363636;
  color: whitesmoke;
}

.notification.is-primary {
  background-color: #00d1b2;
  color: #fff;
}

.notification.is-link {
  background-color: #3273dc;
  color: #fff;
}

.notification.is-info {
  background-color: #209cee;
  color: #fff;
}

.notification.is-success {
  background-color: #23d160;
  color: #fff;
}

.notification.is-warning {
  background-color: #ffdd57;
  color: rgba(0, 0, 0, 0.7);
}

.notification.is-danger {
  background-color: #ff3860;
  color: #fff;
}

.delete, .modal-close, .is-unselectable, .button, .file, .breadcrumb, .pagination-previous,
.pagination-next,
.pagination-link,
.pagination-ellipsis, .tabs {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select:not(.is-multiple):not(.is-loading)::after, .navbar-link:not(.is-arrowless)::after {
  border: 3px solid transparent;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 0.625em;
  margin-top: -0.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 0.625em;
}

.box:not(:last-child), .content:not(:last-child), .notification:not(:last-child), .progress:not(:last-child), .table:not(:last-child), .table-container:not(:last-child), .title:not(:last-child),
.subtitle:not(:last-child), .block:not(:last-child), .highlight:not(:last-child), .breadcrumb:not(:last-child), .level:not(:last-child), .list:not(:last-child), .message:not(:last-child), .tabs:not(:last-child) {
  margin-bottom: 1.5rem;
}

.delete, .modal-close {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: rgba(10, 10, 10, 0.2);
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  outline: none;
  position: relative;
  vertical-align: top;
  width: 20px;
}

.delete::before, .modal-close::before, .delete::after, .modal-close::after {
  background-color: white;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.delete::before, .modal-close::before {
  height: 2px;
  width: 50%;
}

.delete::after, .modal-close::after {
  height: 50%;
  width: 2px;
}

.delete:hover, .modal-close:hover, .delete:focus, .modal-close:focus {
  background-color: rgba(10, 10, 10, 0.3);
}

.delete:active, .modal-close:active {
  background-color: rgba(10, 10, 10, 0.4);
}